.container
  %h1 Find a contractor

  .table-responsive
    %table.table.table-striped.table-bordered
      %tr
        %th Name
        %th Homepage url
        %th Twitter username
        %th Category
        %th Founded year
        %th Description

      - @companies.each do |company|
        %tr
          %td= link_to company.name, company
          %td= company.homepage_url
          %td= company.twitter_username
          %td= company.category_code
          %td= company.founded_year
          %td= company.description
