.container

  = search_form_for @search, url: search_companies_path, method: :get do |f|
    %fieldset
      %legend Search
      .controls.controls-row
        / = f.text_field :name_cont, class: 'span2', placeholder: 'Company name contains...'
        = f.submit "Search", class: "btn btn-primary"

  %h1 Find a contractor

  .table-responsive
    %table.table.table-striped.table-bordered
      %tr
        %th Name
        %th Homepage url
        %th Twitter username
        %th Category
        %th Founded year
        %th Description

      - @companies.each do |company|
        %tr
          %td.text-center
            .logo= image_tag "http://placehold.it/150x50"
            .name= link_to company.name, company
          %td= company.homepage_url
          %td= company.twitter_username
          %td= company.category_code
          %td= company.founded_year
          %td= company.description
