.container
  .col-xs-3
    = image_tag "http://placehold.it/255x255", class: "img-responsive"
    %dl
      %dt URL:
      %dd= link_to @company.homepage_url, @company.homepage_url
      %dt Blog URL:
      %dd= link_to @company.blog_url, @company.blog_url
      %dt Twitter username:
      %dd= link_to_twitter(@company.twitter_username)
      %dt Category code:
      %dd= @company.category_code
      %dt Number of employees:
      %dd= @company.number_of_employees
      %dt Founded year:
      %dd #{@company.founded_day}/#{@company.founded_month}/#{@company.founded_year}
      %dt Email address:
      %dd= link_to @company.email_address, "mailto:#{@company.email_address}"
      %dt Phone number:
      %dd= @company.phone_number
  .col-xs-9
    %h1
      #{@company.name}
      = link_to 'Edit', edit_company_path(@company), class: "btn btn-default"

  .col-xs-9.offset-3
    %blockquote= @company.description
    %h2 Overview:
    %p= @company.overview